@use "../../../styles/mixins/colors.scss" as *;
@use "../../../styles/mixins/misc.scss" as *;
@use "../../../styles/mixins/breakpoints.scss" as *;

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.slider {
    text-align: center;
}

.slide {
    &:hover {
        transition: $transition;
        cursor: pointer;
        border-radius: $radius;
        background: $grey-600;
    }
}

.isActive {
    span {
        color: $yellow-500;
    }
    transition: $transition;
    border-radius: $radius;
    background: $grey-600;
}

.btnNext,
.btnBack {
    cursor: pointer;
    background-color: transparent;
    color: $grey-0;
    border: none;
    font-size: 36px;
    position: absolute;
}

.btnNext {
    right: -20px;
    top: 20%;
}

.btnBack {
    left: -20px;
    top: 20%;
}

@include mobile {
    .carousel {
        width: 90%;
    }
}

@include tablet {
}
