@use "../../../styles/mixins/colors.scss" as *;
@use "../../../styles/mixins/breakpoints.scss" as *;

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

@include mobile {
    .container {
        flex-direction: column;
        justify-content: normal;
    }
}

@include tablet {
    .container {
        flex-direction: column;
        justify-content: normal;
    }
}
