@use "../../../styles/mixins/colors.scss" as *;

.loader {
    margin: 10rem auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid $cyan-700;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
