@use "../../../styles/mixins/colors.scss" as *;
@use "../../../styles/mixins/misc.scss" as *;
@use "../../../styles/mixins/breakpoints.scss" as *;

.container {
    position: absolute;
    width: auto;
    right: -15px;
    transform: translate(100%, 35%);
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-radius: $radius;
    font-size: 18px;
    color: $grey-0;
    border: none;
    background-color: transparent;
    margin-right: auto;
}

.tempUnit {
    cursor: pointer;
    &:hover {
        color: $yellow-600;
    }
}

.active {
    color: $yellow-600;
    font-weight: 500;
}

@include mobile {
    .container {
        font-size: 16px;
        top: 150%;
        right: 50%;
        transform: translateX(50%);
        gap: 9px;
    }
}

@include tablet {
    .container {
        font-size: 18px;
        top: 3%;
        transform: translate(100%, 35%);
        gap: 6px;
    }
}
