@use "../../../styles/mixins/colors.scss" as *;
@use "../../../styles/mixins/breakpoints.scss" as *;
@use "../../../styles/mixins/misc.scss" as *;

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    gap: 10px;
    margin-bottom: 1.25em;
}

@include mobile {
    .tabs {
        width: 100%;
    }
}

@include tablet {
    .tabs {
        width: 60%;
    }
}
