@use "../../../styles/mixins/breakpoints.scss" as *;

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temperatureContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    animation: fadeIn 1s;
}

@include mobile {
    .container {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .main {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }
}

@include tablet {
    .main {
        flex-direction: column;
        justify-content: normal;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
